
<div class="container p-4 mx-auto">
    <h2>Clientes</h2>
    <br>
<table class="table table-hover" id="tablaCliente">
  
    <tbody>
   
 <form class="form-inline my-2 my-lg-0">
                        
                        <div class="input-group">

                            <input type="text" class="form-control" id="cliente" placeholder="Buscar Cliente" />
                          

                        </div>
                    </form>
                    <br>
  <thead class="thead-dark">
    <th>RUT</th>
    <th>Nombre</th>
    <th>A. Paterno</th>
    <th>A. Materno</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th colspan="2"></th>
      </thead>  
    

    {{#each clientes}}
        <tr>
            <td>  {{Rut}}</td>
            <td>  {{Nombre}}</td>
            <td>  {{Apellido_Paterno}}</td>
            <td>  {{Apellido_Materno}}</td>
            <td>  {{Telefono}}</td>
            <td>  {{Correo}}</td>
           

            <td>  <a href='clientes/editarCliente/{{Rut}}' class="btn btn-info">Editar</a></td>
            <td>  <a href='clientes/eliminarCliente/{{Rut}}' class="btn btn-danger">Eliminar</a></td>

        </tr>
    {{/each}}
    

</tbody>

</table>
</div>