
<div class="container p-4 mx-auto">
    <h2>Usuarios</h2>
    <br>
<table class="table table-hover" id="tablaUsuario">
  
    <tbody>
   
 <form class="form-inline my-2 my-lg-0" action="buscar_usuario">
                        
                        <div class="input-group">

                            <input type="text" class="form-control" id="buscar_usuario" placeholder="Buscar Usuario" />
                          

                        </div>
                    </form>
                    <br>
  <thead class="thead-dark">
    <th>RUT</th>
    <th>Nombre</th>
    <th>A. Paterno</th>
    <th>A. Materno</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th>Calle</th>
    <th>Numero</th>
    <th>Comuna</th>
    <th>Region</th>
    <th>Tipo</th>
      </thead>  
    

    {{#each clientes}}
        <tr>
            <td>  {{Rut}}</td>
            <td>  {{Nombre}}</td>
            <td>  {{Apellido_Paterno}}</td>
            <td>  {{Apellido_Materno}}</td>
            <td>  {{Telefono}}</td>
            <td>  {{Correo}}</td>
            <td>  {{Calle}}</td>
            <td>  {{Numero}}</td>
            <td>  {{Comuna}}</td>
            <td>  {{Region}}</td>
            <td>  {{Tipo}}</td>
           

            <td>  <a href='editarUsuario/{{rut}}' class="btn btn-info">Editar</a></td>
            <td>  <a href='eliminarUsuario/{{rut}}' class="btn btn-danger">Eliminar</a></td>

        </tr>
    {{/each}}
    

</tbody>

</table>
</div>