<div class="container p-4">
    <h2 style="text-align: center;">Actualizar Productos</h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="POST" autocomplete="off"  >
                     
                        <div class="mb-3">
                            <label for="id">Codigo</label>
                            <input type="text" class="form-control" id="id" name="id" disabled value="{{pr.idProductos}}"
                                aria-autocomplete="none">
                        </div>
                        <div class="mb-3">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="Nombre"  value="{{pr.Nombre}}"
                            >
                        </div>
                        <div class="mb-3">
                            <label for="Proveedor">Proveedor</label>
                            <select class="form-control" id="Proveedor" name="Proveedor">
                             <option value="{{pr.Proveedor}}">{{pr.pNombre}}</option>
                             {{#each Proveedor}}
                                <option value="{{idProveedor}}">{{nombre}}</option>
                             {{/each}}

                            </select>
                        </div>
                          <label for="Seccion">Seccion</label>
                          <div class="mb-3">
                            <select class="form-control" id="Seccion" name="Seccion" value="{{pr.SubRubro}}">
                             <option value="{{pr.idSeccion}}">{{pr.seccion}}</option>
                             {{#each Seccion}}
                                <option value="{{idSeccion}}">{{nombre}}</option>
                             {{/each}}

                            </select>
                        </div>
                          <div class="mb-3">
                            <label for="Rubro">Rubro</label>
                            <select class="form-control" id="Rubro" name="Rubro"value="{{pr.SubRubro}}">
                             <option value="{{pr.idRubro}}">{{pr.CategoriaRubro}}</option>
                             {{#each Rubro}}
                                <option value="{{idRubro}}">{{CategoriaRubro}}</option>
                             {{/each}}

                            </select>
                        </div>
                         <div class="mb-3">
                             <label for="Subrubro">Sububro</label>
                            <select class="form-control" id="Subrubro" name="Subrubro"value="{{pr.SubRubro}}">
                             <option value="{{pr.SubRubro}}">{{pr.categoria}}</option>
                             {{#each SubRubro}}
                                <option value="{{idSubrubro}}">{{categoria}}</option>
                             {{/each}}

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Codigo">Codigo de Barra</label>
                            <input type="number" class="form-control" name="Codigo" placeholder="Codigo de Barra" value="{{pr.CodigoBarra}}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="Descripcion">Descripcion</label>
                            <input type="text" class="form-control" name="Descripcion" placeholder="Descripción" value="{{pr.Descripcion}}">
                        </div>
                        <div class="mb-3">
                            <label for="Gramage">Gramaje</label>
                            <input type="number" class="form-control" name="Gramage" placeholder="Gramaje" value="{{pr.Gramaje}}">
                        </div>
                         
                        <div class="mb-3">
                            <label for="medida">Medida</label>
                            <select class="form-control" id="medida" name="medida">
                                <option value="{{pr.Medida}}">{{pr.Medida}}</option>
                                <option value="gr">gr</option>
                                <option value="kg">kg</option>
                                <option value="ml">ml</option>
                                <option value="l">l</option>
                                <option value="un">un</option>

                            </select>
                        
                        <div class="mb-3">
                            <label for="Precio">Precio</label>
                            <input type="number" class="form-control" name="Precio" placeholder="Precio" value="{{pr.PrecioUnitario}}">
                        </div>
                        <div class="mb-3">
                            <label for="Stock">Stock</label>
                            <input type="number" class="form-control" name="Stock" placeholder="Stock" value="{{pr.Stock}}">
                        </div>
                      
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Actualizar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>